<div  ng-controller="gridController">
    <div>
    	<ul>
            <button class="btn btn-primary" 
                tag-editor
                edit-mode="true"
                edit-tag="tag"
                data-toggle="tooltip"
                title="edit tag"
                tags="tags"
                ng-repeat="tag in recurringTags track by $index">
    		{{tag.label}} : 
    		{{tag.amt}}
    		<span class="badge">{{tag.remainder}}</span>
    		</button>
    	</ul>
    </div>
    <div ng-grid="gridOptions" class="gridStyle"></div>
</div>
