<div ng-controller="expenseOperationsController" class="col-sm-6 col-md-6">

        <div class="row">
            <label class="col-md-4" for="">total funds: {{totalFunds}}</label>
            <label class="col-md-4" for="">total paid: {{totalPaid}}</label>
            <label class="col-md-4" for="">balance: {{currentBalance}}</label>
        </div>
        <div style="border-bottom: 1px dashed #808080; margin: 5px 0px"></div>
        <div class="row well" ng-show="selectedTags.length > 0">
                    <div class="col-md-12 btn-group">
                        <button class="btn btn-primary" style="margin-bottom:6px" 
                            tag-editor
                            edit-mode="true"
                            tags="tags"
                            edit-tag="tag"
                            ng-repeat="tag in selectedTags"
                            title="edit tag"
                            data-toggle="tooltip">
                            {{tag.label}}
                                    <i class="glyphicon glyphicon-remove" ng-click="removeTag(tag)"></i>
                            
                        </button>
                    </div>   
                </div>
        <div class="row payment-control-col-padding" >
            <div class="col-md-3" >
                <input  name="tagsTA" type="text" ng-model="selectedTag"
                        id="tagsTA"
                        data-toggle="tooltip"
                        title="create tag"
                        tag-editor
                        tags="tags"
                        edit-mode="false"
                       placeholder="select tag" class="form-control"
                       typeahead-on-select="addToSelectedTags()" 
                       typeahead="tag as tag.label for tag in tags | filter:{label:$viewValue}" />
                       
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" is-open="opened" class="form-control" datepicker-popup="yyyy-MM-dd"
                           ng-model="newPaymentDate">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCal($event); opened = !opened">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                         </span>
                </p>
            </div>

                
            <div class="col-md-2">
                <input id="amount-to-apply" type="number" 
                ng-model="amount" placeholder="amount"  name="amount" class="form-control">

            </div>

            <div class="btn-group col-md-4">
                <label class="btn btn-primary" ng-model="transactionType" btn-radio="'credit'">credit</label>
                <label class="btn btn-primary" ng-model="transactionType" btn-radio="'debit'">debit</label>
            </div>
        </div>
        <div style="border-bottom: 1px dashed #808080; margin: 5px 0px"></div>



        <button class="btn btn-default" ng-click="addPayment()" type="submit">add</button>
        <div class="row">
            <div id="expenses-list" class="col-md-12">
            
            </div>
        </div>

</div>
