<div ng-controller="expenseOperationsController" class="col-sm-6 col-md-6">
    <form name="form" class="control-group" ng-hide="templateMode">

        <div class="row well" ng-show="selectedTags.length > 0">
                    <div class="col-md-12 btn-group">
                        <button class="btn btn-primary" style="margin-bottom:6px" ng-click="editTag(tag)" ng-repeat="tag in selectedTags">
                            {{tag.label}}
                                    <i class="glyphicon glyphicon-remove" ng-click="removeTag(tag)"></i>
                            
                        </button>
                    </div>   
                </div>
        <!-- <tag-editor editMode="false"></tag-editor> -->
        <div class="row payment-control-col-padding" >
            <div class="col-md-3" >
                <input  name="tagsTA" type="text" ng-model="selectedTag"
                       placeholder="select tag" class="form-control" tag-editor
                       tag-editor-trigger="selectedTagIsValid"
                       typeahead-on-select="addToSelectedTags()" data-toggle="tooltip"
                       title="Create" trigger="manual manual"
                       typeahead="tag as tag.label for tag in tags | filter:{label:$viewValue}" />
                       
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" is-open="opened" class="form-control" datepicker-popup="yyyy-MM-dd"
                           ng-model="newPaymentDate">
                                       <span class="input-group-btn">
                                           <button type="button" class="btn btn-default" ng-click="openCal($event); opened = !opened"><i
                                                   class="glyphicon glyphicon-calendar"></i></button>
                                       </span>
                </p>
            </div>

                
            <div class="col-md-2">
                <input id="amount-to-apply" type="number" ng-model="amount" placeholder="amount"  name="amount" class="form-control">

            </div>

        </div>
        <div class="row">
        </div>
        <div style="border-bottom: 1px dashed #808080; margin: 5px 0px"></div>


        <div class="btn-group" >
            <button class="btn btn-primary dropdown-toggle" >
                {{selectedWishlistItem.label || "Select a wishlist item"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="item in wishlist">
                    <a ng-click="selectWishlistItem(item)">
                        <span>{{item.label}}  </span><span>  {{item.amt}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group" >
            <button class="btn btn-primary dropdown-toggle" >
                {{selectedUpcomingExpense.label || "Select a upcoming item"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="item in upcoming">
                    <a ng-click="selectUpcomingExpense(item)">
                        <span>{{item.label}}  </span><span>  {{item.amt}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn btn-default" ng-click="addPayment()" type="submit">Apply</button>
    </form>


    <div class="control-group">
        <div class="controls control-padding">
            <button class="btn btn-primary" ng-click="save()" >Save</button>
        </div>
    </div>
</div>