<div ng-controller="expenseOperationsController" class="col-sm-6 col-md-6">
    <form name="form" class="control-group" ng-hide="templateMode">


        <div class="dropdown" >

            <input name="expenseTA" type="text" ng-model="selectedExpense" placeholder="select expense" class="form-control"
                   typeahead="expense as expense.label for expense in allExpenses() | filter:filterExpense"
                   typeahead-template-url="typeaheadTemplate.html" >

            <!--<div class="btn-group" ng-hide="isNullOrUndefined(selectedExpense)">
                <button class="btn btn-primary dropdown-toggle">
                    {{selectedPayment.amt || "Select a payment item"}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in selectedExpense.payments">
                        <a ng-click="selectPayment(item)">
                            <span>{{item.amt}}  </span>
                        </a>
                    </li>
                </ul>
            </div>-->
        </div>


        <div class="form-group">
            <label for="amount-to-apply">Amount to apply</label>
            <input id="amount-to-apply" type="text" ng-model="amount"  name="amount" class="form-control">
            <div style="border-bottom: 1px dashed #808080; margin: 5px 0px"></div>
        </div>
        <div class="form-group">
            <label>Total funds</label>
            <input type="text" ng-model="initialFunds" class="form-control">
        </div>
        <div class="form-group">
            <label>Total Remaining</label>
            <span>{{(initialFunds - getTotalPaid()).toFixed(2)}}</span>
        </div>

        <div class="form-group">
            <label>Total Spent</label>
            <span>{{getTotalPaid()}}</span>
        </div>

        <div class="form-group">
            <label>Current funds</label>
            <input type="text" ng-model="totalFunds" class="form-control">
        </div>

        <div class="form-group">
            <label>Current Remaining</label>
            <span>{{(totalFunds - getTotalRemainingExpenses()).toFixed(2)}}</span>
        </div>

        <div class="btn-group" >
            <button class="btn btn-primary dropdown-toggle" >
                {{selectedWishlistItem.label || "Select a wishlist item"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="item in wishlist">
                    <a ng-click="selectWishlistItem(item)">
                        <span>{{item.label}}  </span><span>  {{item.amt}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group" >
            <button class="btn btn-primary dropdown-toggle" >
                {{selectedUpcomingExpense.label || "Select a upcoming item"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="item in upcoming">
                    <a ng-click="selectUpcomingExpense(item)">
                        <span>{{item.label}}  </span><span>  {{item.amt}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <button ng-disabled="(isNullOrUndefined(selectedUpcomingExpense) && isNullOrUndefined(selectedWishlistItem)) || isNullOrUndefined(expenses)" class="btn btn-default" ng-click="addToExpenses()" >Add to expenses</button>
        <button ng-disabled="isNullOrUndefined(selectedExpense)" class="btn btn-default" ng-click="applyPaymentToExpense(amount)" type="submit">Apply</button>
        <button ng-disabled="isNullOrUndefined(expenses)" class="btn btn-default" ng-click="sendReport()">Send Report</button>

    </form>


    <div class="control-group">
        <div class="controls control-padding">
            <button class="btn btn-primary" ng-click="save()" >Save</button>
        </div>
    </div>
</div>