<div class="row">
   <div style="margin-left: 8px; margin-bottom: 6px">
       <button ng-click="showAllProducts = !showAllProducts" class="btn-link">{{showAllProducts ? products.linkTextCategories : products.linkTextAllProducts }}</button>
   </div>
    <div collapse="showAllProducts" class="col-sm-6 col-md-3" ng-repeat="category in products.categories">
        <div class="thumbnail category" ng-class="{'thumbnail-selected' : isCurrentCategory(category)}" >
            <div class="caption" style="padding: 0px">
                <img style="margin-left: 80px;" width="80" height="150" src="{{category.products[0].image}}"  />

                <div class="panel panel-default" style="margin-bottom: 0px">
                    <div class="panel-heading">
                        {{category.name}}
                        <i class="pull-right glyphicon" ng-click="updateCurrentCategory(category)" ng-class="{'glyphicon-chevron-down': isCurrentCategory(category), 'glyphicon-chevron-right': !isCurrentCategory(category)}"></i>
                    </div>

                </div>
            </div>

        </div>

        <div id="products-formobile">
            <div  collapse="!isCurrentCategory(category)" >
                <div class="thumbnail no-border" ng-repeat="product in currentCategory.products">
                    <div class="caption">
                        <img src="{{product.image}}" popover-title="{{product.title}}" popover-trigger="mouseenter" popover-placement="right" popover="{{product.description}}"/>
                    </div>

            </div>

            </div>
        </div>
    </div>

</div>

<div id="products-forscreen">
    <div  collapse="!showProducts || showAllProducts" class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="product in currentCategory.products">
        <div class="thumbnail no-border">
            <div class="caption">
                <img src="{{product.image}}" popover-title="{{product.title}}" popover-trigger="mouseenter" popover-placement="right" popover="{{product.description}}"/>
            </div>

        </div>
    </div>

    </div>
</div>

<div collapse="!showAllProducts" class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="product in allProducts()">
        <div class="thumbnail no-border">
            <div class="caption">
                <img src="{{product.image}}" popover-title="{{product.title}}" popover-trigger="mouseenter" popover-placement="right" popover="{{product.description}}"/>
            </div>

        </div>
    </div>

</div>