<div  ng-controller="reportSearchController">
    <div ng-show="upcoming.length > 0">
        <h2>Upcoming!</h2>
        <ul class="list-group">
            <li ng-class="{'list-group-item list-group-item-danger' : isComingNextMonth(expense.date), 'list-group-item' : !isComingNextMonth(expense.date)}" ng-repeat="expense in upcoming | orderBy :'+date'">
                {{expense.label}}: {{expense.amt}} - {{expense.date.toDateString()}}
                <i class="glyphicon glyphicon-pencil" ng-click="isCollapsed = !isCollapsed" ></i>

                <div class="row" collapse="!isCollapsed">
                    <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="expense.label">
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="expense.amt">
                    </div>

                    <div class="col-md-4">
                        <p class="input-group">
                            <input type="text" is-open="opened" class="form-control" datepicker-popup="yyyy-MM-dd"
                                   ng-model="expense.date">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="openCal($event); opened = !opened"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>

                </div>

            </li>

        </ul>
    </div>

    <div class="btn-group" >
        <button class="btn btn-primary dropdown-toggle">
            {{selectedMonth || "Select a month"}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]"><a ng-click="updateSelectedMonth(n)">{{n}}</a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle">
            {{selectedYear || "Select a year"}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="n in [2014,2015,2016,2017]"><a ng-click="updateSelectedYear(n)">{{n}}</a>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" ng-click="loadTemplate()">Load template</button>


</div>