<div class="tooltip create-tag-form" >
	<div class="tooltip-inner">
		{{title}}
	</div>
	<div class="row">
		<div class="col-md-3 form-group">
			<input class="form-control" style="padding-left:0px" type="text" ng-model="tag.amt" placeholder="amount" />
		</div>
		<div class="col-md-7 form-group">
			<input type="text" class="form-control" ng-model="tag.label"  class="form-control" />
		</div>
		<div class="col-md-2 checkbox">
                    <label>
		    <input type="checkbox"  ng-model="tag.isRecurring" />
                        recurring
                    </label>
		</div>
	</div>

   <button class="btn btn-primary" ng-show="!editMode" ng-click="createNewTag(tag.label, tag.tagAmt, tag.isRecurring)">Create tag</button>
</div>
